[submodule "pzEngine-Core/vendor/spdlog"]
	path = pzEngine-Core/vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "pzEngine-Core/vendor/GLFW"]
	path = pzEngine-Core/vendor/GLFW
	url = git@github.com:mathpz/glfw.git
[submodule "pzEngine-Core/vendor/glm"]
	path = pzEngine-Core/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "pzEngine-Core/vendor/tinyobjloader"]
	path = pzEngine-Core/vendor/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "pzEngine-Core/vendor/imgui"]
	path = pzEngine-Core/vendor/imgui
	url = git@github.com:ocornut/imgui.git
